<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/vue")
        @Styles.Render("~/Content/common")
        @Scripts.Render("~/bundles/gridNess")
        @Styles.Render("~/gridNess")
        <script src="~/Content/lib/plugins/CSSPlugin.min.js"></script>
        <script src="~/Content/lib/easing/EasePack.min.js"></script>
        <script src="~/Content/lib/TweenLite.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    </head>

<body style="overflow:hidden">
    <div id="waitDiv" class="statusBar wait statusText" align="center"><img src="~/Scripts/Common/i/indicator.gif" width="16" height="16">Loading...</div>

        <h1 class="mainTitle">@ViewBag.Title</h1>

        @RenderBody()

        @RenderSection("scripts", false)
        @Scripts.Render("~/bundles/common")
</body>
</html>
